b {
  font-weight: bold;
}

.header {
  height: 75vh;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  margin-left: 3%;
  margin-right: 3%;
}

.header .card {
  margin-top: 14vh;
  border-radius: 2%;
}

.header-content .card {
  padding: 3%!important;
}

.header-content .card .row {
  margin-bottom: 0px;
}

.header-content .card-action {
  margin-top: 3%!important;
  padding-top: 3%;
  padding-bottom: 0px;
  padding-left: 0px;
  border-radius: 4%;
  padding-right: 0px;
}

.social-btn {
  padding-left: 12px;
  padding-right: 12px;
}

.main {
  padding: 3% 0px 2% 0px;
  background-color: rgb(244, 244, 244)
}

.col-padding {
  padding-right: 6%!important;
}

.white-bg {
  background-color: white;
}

.row .col {
  padding: 1%;
}

.page-footer .row, .page-footer {
  margin-top: 0px!important;
  padding-top: 0.2%!important;
  padding-bottom: 0.2%!important;
  margin-bottom: 0px;
}

.projects .row {
  margin-top: 0px;
  margin-bottom: 0.25%;
}

.project-btn {
  padding-left: 14px;
  padding-right: 14px;
}

.about .col {
  padding: 0px;
}

.no-padding {
  padding: 0;
}

/* Responsiveness */
@media screen and (max-width: 992px) {
  .main {
    padding: 10% 0 10% 0;
  }
}

/* Transparent Nav Stuff */
nav {
    background-color: transparent;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}
